.circle1, .circle2{
    opacity: .5;
    border-radius: 9999px;
    position: fixed;
    filter: var(--tw-blursm);
    width: 150px;
    height: 150px;
}

.circle1{
    background-color: var(--circle1);
    left: 0;
    top: 0;
}
.circle2{
    background-color: var(--circle2);
    right: 0;
    bottom:0;
}

@media (min-width: 1024px){
    .circle1, .circle2{
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 768px){
    .circle1, .circle2{
        filter: var(--tw-blurlg);
    }
}