.wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    gap: 5rem;
    font-family: inherit;
}

.header{
    display: flex;
    flex-direction: column;
    z-index: 40;
    width: 100%;
    font-size: 0.875rem !important;
    color: var(--gray1);
    gap: .5rem;
}

.nav_list{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    font-size: 14px;
}

.activeStyle{
    color: var(--gray0);
}

.nonActiveStyle{

}

.comment{
    font-style: italic;
    color: #777;
}

.code_block_wrapper{
    height: 100%;
    /* width: 100%; */
}

.error_code_block{
    color: var(--gray1);
    font-family: var(--font-mono);
    font-size: 12px;
    max-width: 500px;
    letter-spacing: .8px;
}

.error_code_heading{
    border: solid 1px var(--gray2);
    border-radius: 10px 10px 0 0;
    padding: 10px 0px 10px 15px;
}

.error_code_data{
    padding: 15px;
    line-height: 20px;
    border-left: solid var(--gray2) 1px;
    border-right: solid var(--gray2) 1px;
    border-bottom: solid var(--gray2) 1px;
    border-radius: 0px 0px 10px 10px;
}

.error_code_data .comments{
    color: #777;
}

.keywords{
    color: var(--pink);
}

.punctuation{
    color: var(--mauve);
}

.string{
    color: var(--yellow);
}

.condition{
    color: var(--gray3);
}

.function{
    color: var(--green)
}

@media (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
}