.header {
    font-size: 14px;
}

.description {
    font-style: italic;
}

.section {
    gap: 1rem;
    flex-direction: column;
    display: flex;
}

.blog {
    color: var(--gray5) !important;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    margin: 20px 0;
}

.blog h1 {
    margin-top: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--gray0);
}

.blog h3,
.blog h2 {
    font-size: 17px;
    line-height: 1.75rem;
    color: var(--gray0);
    font-weight: bold;
}

.blog p,
.blog blockquote,
.blog ul,
.blog ol {
    margin: 20px 0px;
    line-height: 1.6;
    color: var(--gray8);
}

.blog li {
    margin-bottom: 8px;
    line-height: 1.35 !important;
}

.blog pre {
    font-family: var(--font-mono);
    font-size: 13px;
    padding: 15px;
    line-height: 20px;
    border-left: solid var(--gray2) 1px;
    border-right: solid var(--gray2) 1px;
    border-bottom: solid var(--gray2) 1px;
    border-radius: 0px 0px 10px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: linear-gradient(107.18deg,
            rgba(0, 0, 0, 0.6) 1.84%,
            rgba(0, 0, 0, 0.1) 100%);
}


.blog h2>a,
.blog h3>a {
    position: absolute;
    text-decoration: none;
    width: 80%;
    max-width: 42rem;
    cursor: pointer;
    opacity: 0;
    margin-left: -20px;
}

.blog h2>a:hover,
.blog h3>a:hover {
    opacity: 1;
}

.blog h2>a:after,
.blog h3>a:after {
    color: var(--gray5);
    content: '#';
}


.blog img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.blog blockquote{
    font-style: italic;
    display: flex;
    gap: 0.5rem;
}

.blog blockquote p{
    margin: 10px 0;
}

.blog blockquote::before{
    display: block;
    height: auto;
    width: 0.50rem;
    max-width: 1px;
    --tw-bg-opacity: 1;
    background-color: var(--circle1);
    --tw-content: '';
    content: var(--tw-content);
}