@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arima:wght@300&family=Arizonia&family=Carter+One&family=Caveat:wght@400;500&family=Cedarville+Cursive&family=Comforter+Brush&family=Cookie&family=Courgette&family=Cousine&family=Dancing+Script:wght@400;500&family=Dosis:wght@200;400&family=Gloria+Hallelujah&family=Great+Vibes&family=Handlee&family=Hind&family=Homemade+Apple&family=Indie+Flower&family=Jost&family=Kalam:wght@300;400&family=Kaushan+Script&family=Kolker+Brush&family=Kristi&family=La+Belle+Aurore&family=Lobster&family=Mali:wght@300;400&family=Marck+Script&family=Mr+Dafoe&family=Mr+De+Haviland&family=Ms+Madi&family=Nanum+Brush+Script&family=Nothing+You+Could+Do&family=Nunito:wght@400;500;600;700;800&family=Pacifico&family=Pangolin&family=Patrick+Hand&family=Patrick+Hand+SC&family=Poppins:wght@200;300;400;500;600&family=Rubik+Distressed&family=Rubik+Glitch&family=Rubik+Marker+Hatch&family=Rubik+Maze&family=Satisfy&family=Shadows+Into+Light&family=Source+Code+Pro:wght@300;400&family=Swanky+and+Moo+Moo&family=Syne+Mono&family=Tangerine&family=Ubuntu:wght@300&family=Yellowtail&family=Zeyada&display=swap');
.details_wrapper{
    /* font-family: 'Poppins', sans-serif !important; */
    margin: 2rem 0;
}
.details_wrapper h1{
    margin: 0;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
    color: rgb(234 234 234/1);
}
.wave_svg{
    color: #9c9c9c;
    margin: 10px 0;
    animation: var(--appear);
    animation-delay: .4s;
}
.details{
    font-size: 1.125rem!important;
    line-height: 1.75rem!important;
    max-width: 36rem!important;
    gap: 0.75rem;
    flex-direction: column;
    display: flex;
    align-items: flex-start!important;
}
.details ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 400px){
    .details_wrapper h1{
        font-size: 2.5rem;
    }
    .details{
        margin: 2px;
    }
}