.profile_card {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    opacity: 1;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* background-color: rgba(0, 0, 0, .2); */
    background-color: rgba(255, 255, 255, .015);
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    animation: var(--appear);
    animation-delay: .2;
}

.profile_img_link {
    top: 0;
    bottom: 0;
    align-items: center;
    display: inline-flex;
    z-index: 1;
    right: 0;
    position: absolute;
}

.profile_image {
    border-radius: 50%;
    display: block;
    vertical-align: middle;
    margin: 10px;
    transition: .2s all ease-in-out;
}

.profile_image:hover {
    /* transform: scale(1.15); */
    animation: onePulse .6s forwards linear;
}

.profile_wrapper {
    display: flex;
    z-index: 10;
    flex-direction: column;
    isolation: isolate;
}

.emoticon {
    margin: 1rem;
    transform-origin: 70% 70%;
    width: 3rem;
    height: 3rem;
    -webkit-animation: wave 2.5s linear 1;
    animation: wave 2.5s linear 1;
}

/* .emoticon:hover {
    -webkit-animation: wave 2.5s linear 1;
    animation: wave 2.5s linear 1;
} */

@keyframes wave {

    0%,
    60%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }
}

@keyframes onePulse {
    0% {
        box-shadow: 0px 0px 0px 0px hsla(0, 0%, 100%, .1)
    }

    25% {
        box-shadow: 0px 0px 0px 6px hsla(0, 0%, 100%, .2);
    }

    50% {
        box-shadow: 0px 0px 0px 12px hsla(0, 0%, 100%, .1);
    }

    75% {
        box-shadow: 0px 0px 0px 6px hsla(0, 0%, 100%, .1);
    }

    100% {
        box-shadow: 0px 0px 0px 3px hsla(0, 0%, 100%, .1);
    }
}

.head_wrapper {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
}

.head {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: inline;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.sub_head {
    color: hsla(0, 0%, 100%, .8);
    font-size: 1.1rem;
    line-height: 1.75rem;
    max-width: 32rem;
    margin: 0;
}

@media (min-width: 768px) {
    .profile_wrapper {
        align-items: center;
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .profile_image {
        top: 0;
        right: 0;
        height: 80px;
        width: 80px;
        margin: 16px;
    }
    .profile_img_link{
        bottom: unset;
    }
}